*{
    box-sizing: border-box;
}
body{
   
    background-image:url(redes-fondo.jpg); 
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0%;
    color: rgb(12, 12, 12);
    font-family: monospace;
}

h1{
    color: hsl(0, 0%, 4%);
    text-align: center;
}

.form-registrer{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px;
    text-align: center;
}

.form__titulo{
    background: deepskyblue; 
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom: 5px solid crimson;
}

.contenedor-inputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    

}
input, select{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray;
}
.input-48{
    width: 48%;
}
.input-100, select{
    width: 85%;
}
.btn-enviar{
    background: rgb(20, 37, 220);
    color: #fff;
    margin: auto ;
    padding: 10px 40px;
    cursor:pointer;
    font-size: 20px;
}
.btn-enviar:active{
    transform: scale(1.05);
}
.form__link{
    width: 100%;
    margin: 7px;
    text-align: center;
    font-size: 14px;
}




.form{
    margin: auto;
    width: 500px;
    margin-top: 150px;
    background: #fff;
    padding: 3px;    
    border-radius: 6px;
    
}

h2{
    text-align: center;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}


textarea,
select,
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

input[type="file"]{
    font-size: 18px;
    width: 82%;
    padding: 10px;
    border: none;
}

.btn-enviar{
    width: 250px;
    text-align: center;
    justify-content: center;
    display: flex;
}

h1{
    color: white;
    font-style: bold;
    font-family: Arial, helvetica
    font-size: 50px;
    text-align: center;

}